<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>E899E449-4192-409B-BC0F-D78C69A1577B.playgroundpage</string>
		<string>77F761AC-4089-41CE-ACE5-E05F0B5B29DC.playgroundpage</string>
	</array>
</dict>
</plist>
